In [1]:
import numpy as np

In [ ]:
# basic operations in numpy

In [46]:
a=np.array([10,10,10])
b=np.array([5,5,5])

In [14]:
a+b

array([15, 15, 15])

In [15]:
a-b

array([5, 5, 5])

In [16]:
a*b

array([50, 50, 50])

In [17]:
a/b # array is by default float

array([2., 2., 2.])

In [ ]:
#modulus operator--- displays the remainder

In [21]:
a%b  # why showing dtype=int32 after the remainder value

array([0, 0, 0], dtype=int32)

In [22]:
a%3

array([1, 1, 1], dtype=int32)

In [ ]:
#comparision operators

In [23]:
a<430

array([ True,  True,  True])

In [24]:
a>30

array([False, False, False])

In [25]:
a**2

array([100, 100, 100], dtype=int32)

In [33]:
a**3

array([1000, 1000, 1000], dtype=int32)

In [ ]:
# req: how to modify an existing array

In [44]:
a+=3
a

array([13, 13, 13])

In [47]:
b+=a
b

array([15, 15, 15])

In [ ]:
Unary operators:

In [49]:
ages=np.array([12,15,18,20])

In [50]:
ages.sum()

65

In [51]:
ages.min()

12

In [52]:
ages.max()

20

In [63]:
numbers=np.arange(12).reshape(3,4)# count starts from zero
numbers

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])