In [ ]:
Introduction to DataFrames----> Pandas continuation

In [1]:
import numpy as np
import pandas as pd

In [ ]:
Series----> is a one dimension structure capable of handling a single dimensional data (linear data)

what is a dataframe---> is two dimensional data structure which is capable of applying the operations of rows and columns

In [4]:
#General sytax of a DataFrame:
pd.DataFrame(data,index,columns,dtype)**

Empty DataFrame
Columns: []
Index: []

In [ ]:
creating DataFrame:
 - lists
 - dict
 - Series
 - numpy ndarrays
 - Another df

In [5]:
#creating an empty DataFrame:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
data=[['ashok',55],['devi',60],['ranga',60],['akbar',58]]
df=pd.DataFrame(data,columns=['Name','Balances'])
print(df)

    Name  Balances
0  ashok        55
1   devi        60
2  ranga        60
3  akbar        58

In [10]:
data=[['ashok',55],['devi',60],['ranga',60],['akbar',58]]
df=pd.DataFrame(data,columns=['Name','Balances'],dtype=float)
print(df)

    Name  Balances
0  ashok      55.0
1   devi      60.0
2  ranga      60.0
3  akbar      58.0

In [ ]:
creating a df from a dict of ndarrays

In [13]:
data={'Name':['Tousif','Aditya','Hema','Sandeep'],'crediscore':[28,32,42,56]}
df=pd.DataFrame(data)
print(df)

      Name  crediscore
0   Tousif          28
1   Aditya          32
2     Hema          42
3  Sandeep          56

In [14]:
data={'Name':['Tousif','Aditya','Hema','Sandeep'],'crediscore':[28,32,42,56]}
df=pd.DataFrame(data,index=['Rank1','Rank2','Rank3','Rank4'])
print(df)

          Name  crediscore
Rank1   Tousif          28
Rank2   Aditya          32
Rank3     Hema          42
Rank4  Sandeep          56

In [ ]:
# Remaining Course:
#2 sessions -pandas

#2 sessions - matplotlib

#Intelliji ----

#1 - ooops cocepts

#1 --exceptional handling part

#1- project explantion