In [6]:
# adding two numbers by assinging them to variables

In [42]:
x=59

In [32]:
y=7

In [43]:
x+y

66

In [ ]:
# using String Functionality

In [53]:
name1='charminar hyderabad'# Using single quotes

In [54]:
print(name1)

charminar hyderabad

In [35]:
name2="John"

In [36]:
print (name2)

John

In [39]:
Name3= """ Tom """

In [41]:
print (Name3)

 Tom

In [ ]:
# code enhancement for stinger

In [55]:
print(name1.upper()) # upper case

CHARMINAR HYDERABAD

In [56]:
print(name1.lower()) # lower case

charminar hyderabad

In [57]:
print(name1.title()) # Title case

Charminar Hyderabad

In [61]:
f_name="Akbar"

In [65]:
l_name="Syed"

In [75]:
full_name=f"{f_name} {l_name}"

In [76]:
print(full_name)

Akbar Syed

In [77]:
full_name=f" Excellent Work, keep it up {f_name} {l_name}"

In [78]:
print(full_name)

 Excellent Work, keep it up Akbar Syed