In [ ]:
# Adding, changing and removing elements from list

In [26]:
my_class=['divya','srinivas','ranga','akbar','vinod']

In [27]:
print(my_class)

['divya', 'srinivas', 'ranga', 'akbar', 'vinod']

In [ ]:
#adding new element to the existing class

In [31]:
my_class.append('rama')

In [33]:
print(my_class)#adding the same value when we run again and again

['divya', 'srinivas', 'ranga', 'akbar', 'vinod', 'rama', 'rama']

In [35]:
#Req:add a new student to index

In [37]:
my_class[1]='Mark'# this funciaonltiy will replace the value in Index 1

In [38]:
print(my_class)

['divya', 'Mark', 'ranga', 'akbar', 'vinod', 'rama', 'rama']

In [ ]:
# inserting a new student in the index 3rd pace, this insert the name and keep the existing ones

In [41]:
my_class.insert(3,'Jyoti')

In [42]:
print(my_class)

['divya', 'Mark', 'ranga', 'Jyoti', 'akbar', 'vinod', 'rama', 'rama']

In [ ]:
# modifying the element
# how to remove the elements from the list
#req: remove divya name from the list

In [45]:
del my_class[0]

In [46]:
print(my_class)

['Mark', 'ranga', 'Jyoti', 'akbar', 'vinod', 'rama', 'rama']

In [47]:
# removing the elements by using the pop() method
# it will be mainiting a carboncopy of the deletd items
# the default nature is it will be deleting elements from the end

In [48]:
my_class.pop()#POP() method removes the last element of the index

'rama'

In [49]:
my_class.pop(2)# pop (2) index number removes the element of Index numer marked

'Jyoti'

In [53]:
print(my_class)

['Mark', 'akbar', 'rama', 'ranga', 'vinod']

In [51]:
#organising a list
#Req: organize the group of students in an alphabetical order

In [60]:
names=['shaheen','shahnaz','shirin','zulekha','rabia','zakia']

In [61]:
print(names)

['shaheen', 'shahnaz', 'shirin', 'zulekha', 'rabia', 'zakia']

In [62]:
names.sort()

In [63]:
print(names)

['rabia', 'shaheen', 'shahnaz', 'shirin', 'zakia', 'zulekha']

In [ ]:
#sort the list to just show only
#req: temporary sorting we need, it has to go back to original position.

In [78]:
names_new=['John','Tom','Nancy','Reynold','Hema','Lakshmi','Akram','Bob', 'Charlie']

In [79]:
print(names_new)

['John', 'Tom', 'Nancy', 'Reynold', 'Hema', 'Lakshmi', 'Akram', 'Bob', 'Charlie']

In [80]:
print('Here is the sorted List:')
print(sorted(names_new))

Here is the sorted List:
['Akram', 'Bob', 'Charlie', 'Hema', 'John', 'Lakshmi', 'Nancy', 'Reynold', 'Tom']