In [ ]:
introduction to for loops

In [2]:
my_students=['bhavani','zakir','ranga','divya','srinivas','suresh','mohan']

print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [3]:
type(my_students)

list

In [5]:
# writing for loop 
#for ----->temp variable then main variable -----> take care of the indentation:
#print(temp var)
#iteration---->

In [6]:
for student in my_students:
    
 print(student)

bhavani
zakir
ranga
divya
srinivas
suresh
mohan

In [ ]:
#Enhancment of the for loop
#automating the print statements
# gap after for loop is called indentened part

In [7]:
print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [ ]:
# req: automate the print statement for everyone

In [9]:
for x in my_students:
   print(f"{x.title()},good job for completing the practise regularly!!")

Bhavani,good job for completing the practise regularly!!
Zakir,good job for completing the practise regularly!!
Ranga,good job for completing the practise regularly!!
Divya,good job for completing the practise regularly!!
Srinivas,good job for completing the practise regularly!!
Suresh,good job for completing the practise regularly!!
Mohan,good job for completing the practise regularly!!

In [13]:
new_students=['bhavana','ranga','chary','alphonse','daniel']

In [14]:
for student in new_students:
    print(f"Thanks for joinng the session on time {student.title()}" )

Thanks for joinng the session on time Bhavana
Thanks for joinng the session on time Ranga
Thanks for joinng the session on time Chary
Thanks for joinng the session on time Alphonse
Thanks for joinng the session on time Daniel

In [ ]:
#further enhancement of the code:

In [28]:
for student in new_students:

    print(f" Thanks for joining the session on time {student.title()} ")  
    
#print('Thanks everyone for showing interest in learing Python')# make sure to start line without any indentation so that it will print after completing the loop

print('\nThanks everyone for showing interest in learing Python')## make sure to start line without any indentation so that it will print after completing the loop

 Thanks for joining the session on time Bhavana
 Thanks for joining the session on time Ranga
 Thanks for joining the session on time Chary
 Thanks for joining the session on time Alphonse
 Thanks for joining the session on time Daniel

Thanks everyone for showing interest in learing Python

In [ ]:
#making a numerical list
# last value in the range is always exclusive----->

In [31]:
for numbers in range (1,10):
    print(numbers)

1
2
3
4
5
6
7
8
9

In [ ]:
# how to use range to make a list of numbers:

In [34]:
numerals= list(range(1,20)) 
print(numerals)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# range is also having a step count validation
# req: want to print only even numbers from 1,50 by using the range:

In [40]:
even_num=list(range(2,51,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]