In [ ]:
#introduction to list slicing!!
#slicing----> general index:-----> start value: end value- step count

In [4]:
my_students=['devi','ranga','aditya','divya','srinivas']# 0,1,2,3,4

In [5]:
print(my_students)

['devi', 'ranga', 'aditya', 'divya', 'srinivas']

In [6]:
type(my_students)

list

In [ ]:
# Req: ----> last value is always excluded
# output of devi, ranga, aditya in 1 to be included
# divya and srinivas ----> in 2nd divison-- to be included

In [10]:
#sol
print(my_students[0:3])

['devi', 'ranga', 'aditya']

In [8]:
print(my_students[3:5])

['divya', 'srinivas']

In [ ]:
# new set of students

In [12]:
students=['nikita', 'syed','zakir','suresh','ashok','hema','venu','vinod']#0,1,2,3,4,5,6,7

print(students)

['nikita', 'syed', 'zakir', 'suresh', 'ashok', 'hema', 'venu', 'vinod']

In [ ]:
#slicing alternate students using the concent of slicing with skip count

In [13]:
print(students[0:8:1])

['nikita', 'syed', 'zakir', 'suresh', 'ashok', 'hema', 'venu', 'vinod']

In [14]:
print(students[0:8:2])

['nikita', 'zakir', 'ashok', 'venu']

In [ ]:
#introduction to tuple data type:

In [ ]:
#tupel is an immutable data type how do define a tuple----->
#fix the value:

In [20]:
dimensions=(200,50)#0,1
type(dimensions)

tuple

In [21]:
print(dimensions[1])

50

In [22]:
print(dimensions[0])

200